# PYTHON
# IDE-specific files (JetBrains/PyCharm)
.idea/

# Logs
logs/
*.log
*log  # También cubre archivos con extensión "log" sin punto
app.log

# Data files
data/
storage/
datasets/
*.h5
*data

# CSV, JSON and other data formats
*.json
*.csv

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/

# Documentation files
docs/notes.md

# Virtual environments
venv/
.env

## CPP
# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

# Archivos generados por compiladores
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.dSYM/
*.pdb
*.exp

# Archivos generados por CLion
.idea/
*.iml

# Directorios de build y binarios
build/
bin/
debug/
release/
cmake-build-*/

# Archivos de log y temporales
*.log
*.tmp
*.swp
*.swo

# Archivos de pruebas unitarias
Testing/
CTestTestfile.cmake

# Archivos específicos de Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Archivos específicos de macOS
.DS_Store

# Archivos específicos de Linux
*.cache
*.pid
