# IDE-specific files (JetBrains/PyCharm)
.idea/

# Logs
logs/
*.log
*log  # También cubre archivos con extensión "log" sin punto
app.log

# Data files
data/
storage/
datasets/
*.h5
*data

# CSV, JSON and other data formats
*.json
*.csv

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/

# Documentation files
docs/notes.md

# Virtual environments
venv/
.env
